<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav_logo"><a href="#">Travel.co</a></div>
        <ul class="nav_links">
            <li class="link">Home</li>
            <li class="link">Blog</li>
            <li class="link">Offers</li>
            <li class="link">Services</li>
            <li class="link">Contacts</li>
        </ul>
    </nav>
    <header>
        <div class="section_container">
            <div class="header_container">
                <h1>Travel</h1>
                <p>Welcome to the wonderful world of travel! Picture yourself stepping into a realm of new experiences, vibrant cultures, and breathtaking landscapes. Whether you're an adventure seeker, a history buff, a nature lover, or simply looking to unwind and escape the routine of everyday life, travel offers endless possibilities to satisfy your wanderlust.</p>
                <button>Read More</button>
            </div>
        </div>
    </header>
</body>
</html>
